@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body{
	position: relative;
	min-height: 100vh;
	width: 100%;
}

.datos_escolares{
	color: rgba(195, 163, 16, 1);
}

.datos_carrera{
	color: rgba(195, 163, 16, 1);
}

.datos_personales{
	color: rgba(195, 163, 16, 1);
}

.container{
	width: 100%;
	max-width: 1000px;
	margin: auto;
	margin-top: 80px;
}

.table{
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}

.table caption{
	font-size: 28px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 8px;
	color: black;
}

.table tr th{
	background-color: #000066;
	border: 1px solid #ccc;
	font-size: 13px;
	color: white;
	text-align: left;
}


.table tr td{
	font-size: 13px;
}

.table thead{
	text-transform: uppercase;
}

.table tbody tr:hover{
	background-color: rgba(195, 163, 16, 1);
}

.table tbody td:hover{
	background-color: #000066;
	color: white;
}

--Tabla Dosificacion --

.tabled{
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}

.tabled caption{
	font-size: 28px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 8px;
	color: black;
}

.tabled tr th{
	background-color: #000066;
	border: 1px solid #ccc;
	font-size: 17px;
	color: white;
	text-align: center;

}


.tabled tr td{
	font-size: 17px;
}

.tabled thead{
	text-transform: uppercase;
}

.tabled tbody tr:hover{
	background-color: rgba(195, 163, 16, 1);
	color: white;
}

.tabled tbody td:hover{
	background-color: rgba(195, 163, 16, 1);
	color: white;
}

.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 260px;
	background: #000066;
	z-index: 100;
	transition: all 0.5s ease;
}

.sidebar.close{
	width: 78px;
}

.sidebar .logo-details{
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
}

.sidebar .logo-details i{
	font-size: 30px;
	color: white;
	height: 50px;
	min-width: 78px;
	text-align: center;
	line-height: 50px;
}

.sidebar .logo-details .logo_name{
	font-family: 22px;
	color: white;
	font-weight: 600;
	transition: 0.3s ease;
	transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name{
	transition-delay: 0s;
	opacity: 0;
	pointer-events: none;
}

.sidebar .nav-links{
	/*
	height: 80%;
	margin-top: 25;
	padding-top: 30px 0 150px 0;
	overflow: scroll;
	*/
	height: 100%;
	padding: 30px 0 150px 0;
	overflow: scroll;
}

.sidebar.close .nav-links{
	/* SI SE PONE EL OVERFLOW:  SCROLL, EL SIDEBAR DE 78PX TIENE SCROLL PERO NO FUNCIONAN LOS SUBMENUS EN 78PX*/
	overflow: visible;	
}

.sidebar .nav-links::-webkit-scrollbar{
	display: none;
}


.sidebar .nav-links li{
	position: relative;
	list-style: none;
	transition: all 0.2s ease;
}

.sidebar .nav-links li:hover{
	background: #948622;
}

.sidebar .nav-links li .icon-link{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sidebar.close .nav-links li .icon-link{
	display: block;
}

.sidebar .nav-links li i{
	height: 50px;
	min-width: 78px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow{
	transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow{
	display: none;
}

.sidebar .nav-links li a{
	display: flex;
	align-items: center;
	text-decoration: none;
}

.sidebar .nav-links li a .link_name{
	font-size: 15px;
	font-weight: 400;    
	color: #fff;
	transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name{
	opacity: 0;
	pointer-events: none;
}

.sidebar .nav-links li .sub-menu{
	padding: 9px 6px 14px 40px;
	margin-top: -5px;
	background: #948622; /*color de fondo de los sub-menu, aun no me convence*/
	display: none; 
}

.sidebar .nav-links li.showMenu .sub-menu{
	display: block;
}


.sidebar .nav-links li .sub-menu a{
	color: #fff;
	font-size: 12px;
	padding: 5px 0;
	white-space: nowrap;
	opacity: 0.6;
	transition: all 0.3s ease;
}


.sidebar .nav-links li .sub-menu a:hover{
	opacity: 1;
}


.sidebar.close .nav-links li .sub-menu{
	position: absolute;
	left: 100%;
	top: -10px;
	margin-top: 0;
	padding: 10px 20px;
	border-radius: 0 6px 6px 0;
	opacity: 0;
	display: block;
	pointer-events: none;
	transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu{
	top: 0;
	opacity: 1;
	pointer-events: auto;
	transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu .link_name{
	display: none;
}

/*ESTA PARTE ES PARA LA PARTE DE LA INFORMACION DEL PERFIL*/

.sidebar.close .nav-links li .sub-menu .link_name{
	font-size: 18px;
	opacity: 1;
	display: block;
}

.sidebar .nav-links li .sub-menu.blank{
	opacity: 1;
	pointer-events: auto;
	padding: 3px 20px 6px 16px;
	opacity: 0;
	pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank{
	top: 50%;
	transform: translateY(-50%);
}


.sidebar .profile_details{
	position: fixed;
	bottom: 0;
	width: 260px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #948622;
	padding: 12px 0;
	transition: all 0.4s ease;
}

.sidebar.close .profile_details{
	background: none;
}

.sidebar.close .profile_details{
	width: 78px;
}


.sidebar .profile_details .profile-content{
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebar .profile_details img{
	height: 52px;
	width: 52px;
	object-fit: cover;
	border-radius: 16px;
	margin: 0 14px 0 12px;
	background: #000066;
	padding: 5px;
	transition: all 0.5s ease;
}

.sidebar.close .profile_details img{
	padding: 10px;
}

.sidebar .profile_details .profile_name,
.sidebar .profile_details .job{
	color: #fff;
	font-size: 10px;
	font-weight: 500;
	white-space: nowrap;
}

.sidebar.close .profile_details i,
.sidebar.close .profile_details .profile_name,
.sidebar.close .profile_details .job{
	display: none;
}

.sidebar .profile_details .job{
	font-size: 9px;
}


/* CIERRA CONTENIDO DE PERFIL .......................................
   ABRE CONTENIDO DE TITULO Y BOTON DE SIDEBAR 							*/

.home-section{
	position: relative;
	background: white;
	height: auto;     /*SI SE AJUSTA A 260PX*/
	background: #000066;
	left: 260px;
	width: calc(100% - 260px);
	transition: all 0.5s ease;
}

.sidebar.close ~ .home-section{
	left: 78px;
	width: calc(100% - 78px);	
}

.home-section .home-content{
	height: 60px;
	display: flex;
	align-items: center;
}

.home-section .home-content .titulounam{
	width: 15%;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text{
	color: #948622;
	font-size: 35px;

}

.home-section .home-content .bx-menu{
	margin: 0 15px;
	cursor: pointer;
}

.home-section .home-content .text{
	color: white;
	font-size: 13px;
	text-align: center;
	font-weight: 600;
	width: 100%;			/*Ajusta tamaño del span del titulo*/
	/* padding: 50px;        AJUSTAR POSICION?*/
}


/* CONTENIDO PRINCIPAL DE LA PAGINA */

.home_content2{
	position: fixed;
	height: 100%;
	overflow-x: scroll;
	width: calc(100% - 260px);
	left: 260px;
	align-items: center;
	transition: all 0.5s ease;
}

.home_content2 .texthome{
	font-size: 17px;
	font-weight: 400;
	color: black;
	margin: 12px;
}

.sidebar.close .home_content2::-webkit-scrollbar{
	overflow: visible;
	overflow: scroll;
}

.sidebar.close ~ .home_content2{
	width: calc(100% - 78px);
	left: 78px;
}

.icon_menu{
	position: auto;
	text-align: center;
	color: white;
}


.body_move{
    margin-left: 260px;
}

.menu__side_move{
    width: 250px;
}


.modal-body{
	font-size: 1rem;
}


/* AQUI VAN LOS @MEDIA ......................................*/

@media (max-width: 420px){
	.sidebar.close .nav-links li .sub-menu{
		display: none;
	}
}

@media screen and (max-width: 800px){
	.table{
		border: 0px;
	}

	.table thead{
		display: none;
	}

	.table tr {
		margin-bottom: 8px;
		border-bottom: 4px solid #ddd;
		display: block;
	}

	.table th, .table td{
		font-size: 8px;
	}

	.table td{
		display: block;
		border-bottom: 1px solid #ddd;
		text-align: right;
	}

	.table td:last-child{
		border-bottom: 0px;
	}

	.table td::before{
		content: attr(data-label);
		font-weight: bold;
		text-transform: uppercase;
		float: left;
	}

	-- Tabla Dosificacion --

	@media screen and (max-width: 800px){
	.tabled{
		border: 0px;
	}

	.tabled thead{
		display: none;
	}

	.tabled tr {
		margin-bottom: 8px;
		border-bottom: 4px solid #ddd;
		display: block;
	}

	.tabled th, .table td{
		font-size: 8px;
	}

	.tabled td{
		display: block;
		border-bottom: 1px solid #ddd;
		text-align: right;
	}

	.tabled td:last-child{
		border-bottom: 0px;
	}

	.tabled td::before{
		content: attr(data-label);
		font-weight: bold;
		text-transform: uppercase;
		float: left;
	}

@media print{
		.titulo{
			margin: 30px;
			margin-bottom: -30px;
			text-transform: uppercase;
			font-weight: bold;
			font-family: ;
			font-size: 30px;
			text-align: center;
			color: black;
		}

		.datos_personales{
			color: rgba(195, 163, 16, 1);
		}

		.datos_escolares{
			color: rgba(195, 163, 16, 1);
		}

		.datos_carrera{
			color: rgba(195, 163, 16, 1);
		}

		.container{
			width: 100%;

			margin: auto;
			margin-top: 20px;
		}

		.table{
			width: 100%;
			border: 1px solid #ccc;
			border-collapse: collapse;
			margin: 0;
			padding: 0;
		}

		.table caption{
			font-size: 28px;
			text-transform: uppercase;
			font-weight: bold;
			margin: 8px;
			color: black;
		}

		.table tr th{
			background-color: #000066;
			border: 1px solid #ccc;
			font-size: 13px;
			color: white;
			text-align: left;
		}


		.table tr td{
			font-size: 13px;
		}

		.table thead{
			text-transform: uppercase;
		}

		.table tbody tr:hover{
			background-color: rgba(195, 163, 16, 1);
		}

		.table tbody td:hover{
			background-color: #000066;
			color: white;
		}
}

