<html lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sidebar mejorado</title>
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="../../css/styles_sidebar.css">
</head>



<body>
	
	<div class="sidebar">
		<div class="logo-details_p">
			<i class='bx bx-traffic-cone'></i>
			<span class="logo_name_p">UNAM</span>
		</div>
	</div>




</body>
</html>